.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width:75%;
    height: 100%;
    float: right;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    overflow: scroll;
    justify-content: center;
}

.movie-content {
    background-color: white;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.3);
    overflow: scroll;
    margin: 10px 20px 10px 10px;
}

.liked-movies {
    background-color:  rgb(17, 230, 53); 
    width: 40%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.3);
    overflow: scroll;
    margin: 10px 20px 10px 10px;
}
.movies-picks-entries {
    margin-top: 10px;
    height: 100vh - 10px;
}
.on-likes {
    background-color: rgb(17, 230, 53); 
}

.disliked-movies {
    background-color: rgb(213, 8, 32);
    width: 40%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.3);
    overflow: scroll;
    margin: 10px 20px 10px 10px;
}

.draggable-default {
    background-color: rgb(227, 232, 231);
    height: auto;
    cursor: pointer;
    border-radius: 2px;
    margin: 5px 5px 5px 5px;
    padding: 3px 7px 7px 7px;
    font-family: "Tahoma",  sans-serif;
}

.draggable-disliked {
    background: linear-gradient(90deg, rgba(195,34,45,100) 0%, rgb(255, 183, 0) 100%);
    color: white;
    height: auto;
    cursor: pointer;
    border-radius: 2px;
    margin: 5px 5px 5px 5px;
    padding: 3px 7px 7px 7px;
    font-family: "Tahoma",  sans-serif;
}

.draggable-liked {
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(195,34,45,100) 100%);
    color: white;
    height: auto;
    cursor: pointer;
    border-radius: 2px;
    margin: 5px 5px 5px 5px;
    padding: 3px 7px 7px 7px;
    font-family: "Tahoma",  sans-serif;
}

